<!-- Navbar -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="/Public/Assets/Images/Logo.png" alt="FurEver Friends Logo">
  </div>
  <div class="navbar-center">
    <p class="title">FurEver Friends</p> 
  </div>
  <div class="navbar-end">
    <a class="navbar-item" href="/login">Login</a>
    <a class="navbar-item" id="about-us-button" href="#">About Us</a>
  </div>
</nav>

  <!-- About Us Modal -->
  <div id="about-us-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head modal-card-custom-header">
      <p class="modal-card-title">Welcome to FurEver Friends</p>
        </header>
    <section class="modal-card-body modal-card-custom-body">
      <p>Here at FurEver Friends we want to help you find your new best friend! We have several great foster dogs that would love to come live with you! To start the journey to your best friend here are the next steps:</p>
      <ol>
        <li>Log in or create an account.</li>
        <li>Navigate to our page of available foster dogs.</li>
        <li>Look through the dogs we have available by navigating via the arrows on either side.</li>
        <li>If you see a dog that looks like your next best friend, tap the heart next to their name!</li>
        <li>From here, that dog will go into your "Favorited Dogs" section and we will reach out if it's a good fit!</li>
      </ol>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
  </div>
